.SocialsButtonContainer {
  display: flex;
  gap: 3em;
  /* adds spacing between children */
}

.Introduction {
  font-size: 4em;
  font-family: Inter;
  font-weight: bold;
}

.IntroductionInfo {
  font-size: 1.5em;
  font-family: Inter;
  font-weight: normal;
}

.SocialButton {
  color: var(--button-color);
}

.SocialButton:hover {
  transform: scale(1.15);
}

.ColorThemeButton {
  background: transparent;
  border-color: transparent;
  position: fixed;
  left: 2em;
  top: 2em;
}

.ColorThemeButton:hover {
  transform: scale(1.15);
}
/*change */
header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 2em;
  right: 2em;
}

header nav {
  display: flex;
  gap: 20px;
}

.MenuToggle {
  background: transparent;
  border-color: transparent;
  color: var(--button-color);
}

.MenuToggle:hover {
  transform: scale(1.15);
}

.MenuContent {
  margin-right: auto;
}
