.SocialsButtonContainer {
    display: flex;
    gap: 3em;
    /* adds spacing between children */
}

.Introduction {
    font-size: 4em;
    font-family: Inter;
    font-weight: bold;
}

.IntroductionInfo {
    font-size: 1.5em;
    font-family: Inter;
    font-weight: normal;
}

.SocialButton {
    color: black;
}

.SocialButton:hover {
    transform: scale(1.15);
}

.ColorThemeButton {
    color: black;
    background: transparent;
    border-color: transparent;
    position: fixed;
    left: 2em;
    top: 2em;
}

.ColorThemeButton:hover {
    transform: scale(1.15);
}